<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
    <a href="#/dashboard" class="al-logo clearfix"><span style="font-weight: 700;"><b>RDWHAHB</b></span>!</a>
    <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>

    <div class="user-profile clearfix">
        <div class="al-user-profile" uib-dropdown>
            <a uib-dropdown-toggle class="profile-toggle-link">
                <div class="kameleon-row">
                    <div><img src="../assets/img/beer.png"></div>
                </div>
            </a>
            <ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
                <li>
                    <i class="dropdown-arr"></i>
                </li>
                <li ng-show="$root.loggedIn()"><a href="#/profile">
                    <i class="fa fa-user"></i>{{$root.globals.currentUser.profile.firstName}}
                    {{$root.globals.currentUser.profile.lastName}}</a>
                </li>
                <li ng-show="$root.verifyRoles(['admin'])">
                    <a href="#/admin"><i class="fa fa-cog"></i>Adimistration</a>
                </li>
                <li ng-show="$root.loggedIn()"><a href="" ng-click="$root.logOut()" class="signout">
                    <i class="fa fa-power-off"></i>Sign Out</a>
                </li>
                <li ng-show="!$root.loggedIn()">
                    <login></login>
                </li>
            </ul>
        </div>
        <msg-center></msg-center>
    </div>
</div>