<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12"
         ba-panel
         ba-panel-title="Brew Status">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center">
                <form class="row form-inline" ng-submit="startController(formData.controller)"
                      name="itemForm" autocomplete="off" novalidate
                      ng-show="$root.verifyRoles(['admin']) && (!active)">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group col-md-2 col-md-offset-5"
                             ng-class="{ 'has-error' : itemForm.controller.$invalid }"
                             autocomplete="off">
                            <select class="form-control selectpicker" id="controller" ng-model="formData.controller"
                                    name=controller title="Brew Stage"
                                    ng-options="controller.id as controller.type for controller in controllers"
                                    options='controllers' autocomplete="off" selectpicker required>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-md-2 col-md-offset-5">
                            <button type="submit" class="btn btn-primary btn-lg" ng-disabled="itemForm.$invalid"
                                    style="margin: 20px 0 30px 0;">
                                Start
                            </button>
                        </div>
                    </div>
                </form>
                <div class="col-lg-12 col-md-12 col-sm-12" ng-show="complete && active && $root.verifyRoles(['admin'])">
                    <div class="col-md-2 col-md-offset-5">
                        <button type="button" class="btn btn-primary btn-lg" style="margin: 20px 0 30px 0;"
                                ng-click="stopController()">
                            Stop
                        </button>
                    </div>
                </div>
                <h3 ng-show="!$root.verifyRoles(['admin']) && !active">THIS BREW IS NOT ACTIVE</h3>
            </div>
        </div>
        <div ng-show="active">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h1 style="text-align: center;">
                    <span ng-attr-uib-tooltip="Current Brew Stage">
                        {{ controllerType }}
                    </span>
                </h1>
            </div>
            <h3 ng-show="controllerCompleteDate" style="text-align: center;">
                <span ng-attr-uib-tooltip="Time Remaining">
                    {{controllerTimeRemaining}}
                </span>
            </h3>
            <h1 style="text-align: center;">
                {{remainingControllerPercent}}% Complete
            </h1>
            <uib-progressbar ng-show="controllerCompleteDate" class="progress-striped active"
                             value="getRemainingControllerPercent()"
                             type="{{ complete ? 'success' : 'primary' }}">
            </uib-progressbar>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center" ng-show="active">
            <a href="" ng-click="showPhases = !showPhases">
                <h3>{{showPhases ? 'HIDE PHASES' : 'SHOW PHASES'}}</h3>
            </a>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12" ng-show="showPhases">
            <div class="row">
                <hr>
                <div style="text-align: center">
                    <div ng-repeat="phase in schedule.phases" style="display: inline-block; padding: 0 5px 0 5px;">
                        <h3 ng-attr-uib-tooltip="{{getCurrentPhaseIndex() == $index ? 'Current Set Point' : 'Duration: '+formatDuration(phase.duration*60*1000)}}"
                            ng-style="{'font-size': getCurrentPhaseIndex() == $index ? 48 : 14, 'color': getCurrentPhaseIndex() == $index ? layoutColors.warning : ''}"
                        >
                            {{phase.setPoint}}°
                        </h3>
                    </div>
                </div>
                <h3 style="text-align: center;">
                    <span ng-attr-uib-tooltip="Phase Time Remaining">
                        {{phaseTimeRemaining}}
                    </span>
                </h3>
                <h1 style="text-align: center;">
                    {{remainingPhasePercent}}% Complete
                </h1>
                <uib-progressbar ng-show="controllerCompleteDate" class="progress-striped active"
                                 value="getRemainingPhasePercent()"
                                 type="warning">
                </uib-progressbar>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12"
         ba-panel
         ba-panel-title="Cooler Temperature"
         ba-panel-class="medium-panel">
        <temp-gauge data="innerData" actuator-color="tempColor"
                    actuator-on="coolerState">
        </temp-gauge>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12"
         ba-panel
         ba-panel-title="Brew Temperature"
         ba-panel-class="medium-panel">
        <temp-gauge data="brewData"
                    actuator-color="brewColor"
                    actuator-on="heaterState">
        </temp-gauge>
    </div>
    <row>
        <div class="col-lg-4 col-md-12 col-sm-12"
             ba-panel
             ba-panel-title="Controls"
             ba-panel-class="medium-panel">
            <!--<div class="temp-container">-->
            <div class="row">
                <div class="temp-container" style="height: 130px;">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
                         style="height: 100%; display: flex; justify-content: center;">
                        <div style="width: 100%; align-self: center;">
                            <i class="temp-icon cool ion-ios-snowy"></i>
                            <span>Cooler</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
                         style="height: 100%; display: flex; justify-content: center;">
                        <div style="width: 100%; align-self: center;">
                            <actuator-switch name="Cooler" switch-color="coolColor" actuator-id="coolerId"
                                             controls=coolerControls></actuator-switch>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="temp-container" style="height: 130px;">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
                         style="height: 100%; display: flex; justify-content: center;">
                        <div style="width: 100%; align-self: center;">
                            <i class="temp-icon heat ion-bonfire"></i>
                            <span>Heater</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
                         style="height: 100%; display: flex; justify-content: center;">
                        <div style="width: 100%; align-self: center;">
                            <actuator-switch name="Heater" switch-color="heatColor" actuator-id="heaterId"
                                             controls=heaterControls></actuator-switch>
                        </div>
                    </div>
                </div>
            </div>
            <!--</div>-->
        </div>
    </row>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12"
         ba-panel
         ba-panel-title="Brew Temperatures">
        <div class="visible-lg visible-md">
            <div class="col-lg-5 col-md-5">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="startDateBrew" role="button" data-toggle="dropdown" data-target="#"
                       href="">
                        <div class="input-group"><input type="text" class="form-control"
                                                        data-ng-model="chartDates.startDate"
                                                        placeholder="Start Date"><span
                                class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="chartDates.startDate"
                                        data-datetimepicker-config="{ minView: 'hour', dropdownSelector: '#startDateBrew' }"
                                        max-date="maxDate" min-view="hour"/>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 hidden-sm hidden-sx">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="endDateBrew" role="button" data-toggle="dropdown" data-target="#"
                       href="">
                        <div class="input-group"><input type="text" class="form-control"
                                                        data-ng-model="chartDates.endDate"
                                                        placeholder="End Date"><span class="input-group-addon"><i
                                class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="chartDates.endDate"
                                        data-datetimepicker-config="{ minView: 'hour', dropdownSelector: '#endDateBrew' }"
                                        max-date="maxDate" min-view="hour"></datetimepicker>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <button type="button" class="btn btn-info pull-right" ng-click="resetChartDates()">Reset Dates</button>
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            <amchart ng-model="brewChartOptions" zoom="zoom" dates="chartDates"></amchart>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-md-12"
         ba-panel
         ba-panel-title="Cooler Temperatures">
        <div class="visible-lg visible-md">
            <div class="col-lg-5 col-md-5">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="startDateInner" role="button" data-toggle="dropdown" data-target="#"
                       href="">
                        <div class="input-group"><input type="text" class="form-control"
                                                        data-ng-model="chartDates.startDate"
                                                        placeholder="Start Date"><span
                                class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="chartDates.startDate"
                                        data-datetimepicker-config="{ minView: 'hour', dropdownSelector: '#startDateInner' }"></datetimepicker>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-md-5">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="endDateInner" role="button" data-toggle="dropdown" data-target="#"
                       href="">
                        <div class="input-group"><input type="text" class="form-control"
                                                        data-ng-model="chartDates.endDate"
                                                        placeholder="End Date"><span class="input-group-addon"><i
                                class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="chartDates.endDate"
                                        data-datetimepicker-config="{ minView: 'hour', dropdownSelector: '#endDateInner' }"></datetimepicker>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <button type="button" class="btn btn-info pull-right" ng-click="resetChartDates()">Reset Dates</button>
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            <amchart ng-model="coolerChartOptions" zoom="zoom" dates="chartDates"></amchart>
        </div>
    </div>
</div>
