<div class="row">
    <div class="col-md-12">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h4>Name:</h4>
                </div>
                <div class="col-md-3">
                    <a href="#" style="font-size: 16px;"
                       onaftersave="updateBrew(brewData)"
                       editable-text="brewData.name"
                       ng-model="brewData.name"
                       blur="cancel">
                        {{ brewData.name || 'empty' }}
                    </a>
                </div>
                <div class="col-md-1 col-md-offset-5">
                    <button type="submit"
                            class="btn btn-danger"
                            class="pull-right"
                            autocomplete="off"
                            ng-click="removeBrewData(brewData)">
                        Remove
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <h4>Type:</h4>
                </div>
                <div class="col-md-3">
                    <a href="#" style="font-size: 16px;"
                       onaftersave="updateBrew(brewData)"
                       editable-text="brewData.style"
                       ng-model="brewData.style"
                       blur="cancel">
                        {{ brewData.style || 'empty' }}
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <h4>Recipe:</h4>
                </div>
                <div class="col-md-3">
                    <a href="#" style="font-size: 16px;"
                       onaftersave="updateBrew(brewData)"
                       editable-text="brewData.recipe"
                       ng-model="brewData.recipe"
                       blur="cancel">
                        {{ brewData.recipe || 'empty' }}
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <h4>Yeast:</h4>
                </div>
                <div class="col-md-3">
                    <a href="#" style="font-size: 16px;"
                       onaftersave="updateBrew(brewData)"
                       editable-text="brewData.yeast"
                       ng-model="brewData.yeast"
                       blur="cancel">
                        {{ brewData.yeast || 'empty' }}
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <h4>Carbonation:</h4>
                </div>
                <div class="col-md-3">
                    <a href="#" style="font-size: 16px;"
                       onaftersave="updateBrew(brewData)"
                       editable-select="brewData.carbonationMethod"
                       ng-model="brewData.carbonationMethod"
                       e-ng-options="method as method for method in carbonationMethods">
                        {{ brewData.carbonationMethod || 'empty' }}
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <h4>Cooler:</h4>
                </div>
                <div class="col-md-3">
                    <span style="font-size: 16px;">{{ brewData.cooler.name || 'empty' }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row'">
    <div class="col-md-12">
        <h4>Controllers</h4>
        <controllers ng-model="brewData.controllers"
                     update-item="updateBrewController(controller)"
                     add-item="addBrewController(controller)"
                     remove-item="removeBrewController(controller)"
                     sensors="sensors"
                     actuators="actuators"
                     schedules="schedules"
                     controller-types="controllerTypes"
        ></controllers>
    </div>
</div>