@import 'common';

.top-buffer {
  margin-top: 5px;
}

.cssFade {
  transition: 0.5s linear all;
  opacity: 1;
}

.cssFade.ng-hide {
  opacity: 0;
}

.ng-hide.ng-hide-animate {
  display: none !important;
}

// injector
// endinjector