<div class="row">
    <div class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"
         ba-panel
         ba-panel-class="large-panel with-scroll feed-panel">
        <div class="panel-heading">
            <div class="col-md-6 col-sm-2 col-sx-2">
                <span>Notifications</span>
            </div>
            <div class="col-md-2 col-sm-2 col-sx-2 pull-right">
                <select class="form-control view-select col-md-2 col-sm-2 col-sx-2 pull-right" title="View Options"
                        multiple selectpicker
                        ng-model="viewChoices"
                        ng-options="option as option for option in viewOptions"
                        options="viewOptions"></select>
            </div>
        </div>
        <div class="col-md-12 col-xlg-12 col-lg-12 col-sm-12 col-xs-12 notification-body">
            <div class="panel-body">
                <notification view-choices="viewChoices" notification-id="notificationId"></notification>
            </div>
        </div>
    </div>
</div>
