<ul class="al-msg-center clearfix">
    <li uib-dropdown>
        <a href uib-dropdown-toggle>
            <i class="fa fa-bell-o" style="font-size: 20px;"></i><span
                ng-show="alerts.length">{{ alerts.length }}</span>
            <div ng-class="{'notification-ring' : alerts.length}"></div>
        </a>

        <div uib-dropdown-menu class="top-dropdown-menu">
            <i class="dropdown-arr"></i>

            <div class="header clearfix">
                <strong>Notifications</strong>
                <!--<a href>Settings</a>-->
            </div>
            <div class="msg-list">
                <!--<a ui-sref="notifications({ notificationId: 5 })" class="clearfix" ng-repeat="msg in alerts">-->
                <a href class="clearfix" ng-repeat="msg in alerts" ng-click="goToNotification(msg)">
                    <div class="img-area"><img src="../assets/img/beer.png"></div>
                    <div class="msg-area">
                        <div ng-bind-html="getMessage(msg)"></div>
                        <span>{{ getRelativeTime(msg) }}</span>
                    </div>
                </a>
            </div>
            <a href="#/notifications">See all notifications</a>
        </div>
    </li>
</ul>