<div class="modal-content">
    <div class="modal-header bg-{{modalOptions.type}}">
        <i class="ion-flame modal-icon"></i><span>{{modalOptions.headerText}}</span>
    </div>
    <div class="modal-body text-center">{{modalOptions.bodyText}}</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-{{modalOptions.type}}" ng-show="modalOptions.ok"
                ng-click="modalOptions.ok();$dismiss()">OK
        </button>
        <button type="button" class="btn btn-{{modalOptions.type}}" ng-show="modalOptions.cancel"
                ng-click="modalOptions.cancel();$dismiss()">Cancel
        </button>
    </div>
</div>
