<div class="modal-content">
    <div class="modal-header bg-success">
        <i class="ion-checkmark modal-icon"></i><span> Success</span>
    </div>
    <div class="modal-body text-center">Your information has been saved successfully</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="$dismiss()">OK</button>
    </div>
</div>

