<div ba-panel ba-panel-class="profile-page">
    <div class="panel-content">
        <h3 class="with-line">General Information</h3>
        <form class="row" name="userForm">
            <div class="col-md-6">
                <div class="form-group row clearfix">
                    <label for="inputFirstName" class="col-sm-3 control-label">First Name</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputFirstName" placeholder=""
                               ng-model=user.profile.firstName>
                    </div>
                </div>
                <div class="form-group row clearfix">
                    <label for="inputLastName" class="col-sm-3 control-label">Last Name</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputLastName" placeholder=""
                               ng-model="user.profile.lastName">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row clearfix">
                        <label for="inputEmail3" class="col-sm-3 control-label">Email</label>

                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="inputEmail3" placeholder=""
                                   ng-model="user.email">
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <h3 class="with-line">Change Password</h3>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group row clearfix">
                    <label for="inputPassword" class="col-sm-3 control-label">Password</label>

                    <div class="col-sm-9">
                        <input type="password" class="form-control"
                               id="inputPassword" placeholder=""
                               value="12345678" name="inputPassword"
                               ng-model="user.password">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row clearfix" ng-class="{'has-error': confirmPassword != password}">
                    <label for="inputConfirmPassword" class="col-sm-3 control-label">Confirm Password</label>

                    <div class="col-sm-9">
                        <input type="password" class="form-control"
                               id="inputConfirmPassword" placeholder=""
                               name="inputConfirmPassword" ng-model="user.confirmPassword">
                    </div>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-primary btn-with-icon save-profile" ng-click="submitUserForm(user)">
            <i class="ion-android-checkmark-circle"></i>Update Profile
        </button>
    </div>
</div>
