.temp-gauge-block {
  position: relative;
  padding: 0px;
  height: 100%;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  .pie-chart {
    width: 300px;
    position: relative;
    margin: auto;
  }
}

.pie-chart-item {
  position: relative;
  .chart-icon {
    position: relative;
    display: inline-block;
    right: 0px;
    top: 3px;
    z-index: -1;
  }
  @media screen and(min-width: 1325px) and (max-width: 1650px),
  (min-width: 700px) and (max-width: 830px),
  (max-width: 400px) {
    .chart-icon {
      display: none;
    }
  }
}

//@media screen and(min-width: 1325px) and (max-width: 1650px),
//(min-width: 700px) and (max-width: 830px),
//(max-width: 400px) {
//  .chart-icon {
//    display: none;
//  }
//}

.gauge-chart {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 300px;
  text-align: center;
  margin: auto;
}

.gauge-chart canvas {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  left: 0;
  padding: 0;
  margin: auto;
  display: block;
  bottom: 0;
  right: 0;
}

.percent {
  display: inline-block;
  line-height: 300px;
  z-index: 2;
  font-size: 20px;
}

.outer-percent {
  color: $warning;
}

.inner-percent {
  color: $default-text;
}

.percent:after {
  content: '℉';
  margin-left: 0.1em;
  font-size: 1em;
}
