<div class="task-todo-container" ng-class="{'transparent': transparent}">
    <div class="add-row-editable-table">
        <form class="row form-inline" ng-submit="addPhase()" name="phaseForm" autocomplete="off" novalidate>
            <div class="form-group col-sm-2 col-xs-6"
                 autocomplete="off">
                <input type="number" name="durationDays" class="form-control" id="durationDays"
                       placeholder="Duration Days" ng-model="formData.durationDays"
                       required autocomplete="off">
            </div>
            <div class="form-group col-sm-2 col-xs-6"
                 autocomplete="off">
                <input type="number" name="durationHours" class="form-control" id="durationHours"
                       placeholder="Duration Hours" ng-model="formData.durationHours"
                       required autocomplete="off">
            </div>
            <div class="form-group col-sm-2 col-xs-6"
                 autocomplete="off">
                <input type="number" name="durationMinutes" class="form-control" id="durationMinutes"
                       placeholder="Duration Minutes" ng-model="formData.durationMinutes"
                       required autocomplete="off">
            </div>
            <div class="form-group col-sm-2 col-xs-6"
                 ng-class="{ 'has-error' : phaseForm.maxDrift.$invalid }"
                 autocomplete="off">
                <input type="text" class="form-control" name="maxDrift" id="maxDrift" placeholder="Max Drift"
                       ng-model="formData.maxDrift" required autocomplete="off">
            </div>
            <div class="form-group col-sm-2 col-xs-6"
                 ng-class="{ 'has-error' : phaseForm.setPoint.$invalid }"
                 autocomplete="off">
                <input type="text" class="form-control" name="setPoint" id="setPoint"
                       placeholder="Set Point" ng-model="formData.setPoint" autocomplete="off" required>
            </div>
            <button type="submit" class="btn btn-primary"
                    ng-disabled="phaseForm.maxDrift.$invalid || phaseForm.setPoint.$invalid || (phaseForm.durationDays.$invalid && phaseForm.durationHours.$invalid && phaseForm.durationMinutes.$invalid)"
                    autocomplete="off">
                Add Phase
            </button>

            <button class="btn btn-warning pull-right"
                    type="button"
                    style="margin-right: 20px;"
                    autocomplete="off"
                    ng-show="phasesBackup"
                    ng-click="savePhases()"
                    ng-disabled="isEditing()">
                Save
            </button>
            <button class="btn btn-warning pull-right"
                    type="button"
                    style="margin-right: 20px;"
                    ng-show="phasesBackup"
                    ng-click="resetPhases()"
                    ng-disabled="isEditing()">
                Reset
            </button>
        </form>
    </div>
    <div class="box-shadow-border"></div>
    <ul class="todo-list" ui-sortable ng-model="ngModel">
        <li ng-repeat="item in ngModel" ng-if="!item.deleted" ng-init="activeItem=false"
            ng-class="{checked: isChecked, active: activeItem}" style="padding: 0;">
            <div class="blur-container">
                <div class="blur-box"></div>
            </div>
            <i class="mark" style="background-color: {{item.color}}"></i>

            <table style="border-collapse:collapse; table-layout: fixed; height: 100%" border="0" class="table">
                <tr class="editable-row" style="height: 100%">
                    <td style="width: 120px; border: 0; padding: 2px">
        <span>
          <b>Duration Days:</b>
        </span>
                    </td>
                    <td style="width: 60px; border: 0; padding: 2px">
        <span editable-number="item.durationDays" e-name="durationDays" e-form="rowform"
              onshow="showEditing($index)" onhide="hideEditing($index);" e-required>
          {{ math.floor((item.duration / 1440)) }}
        </span>
                    </td>
                    <td style="width: 120px; border: 0; padding: 2px">
        <span>
          <b>Duration Hours:</b>
        </span>
                    </td>
                    <td style="width: 60px; border: 0; padding: 2px">
        <span editable-number="item.durationHours" e-name="durationHours" e-form="rowform"
              onshow="showEditing($index); item.durationHours = math.floor((item.duration % 1440)/60)"
              onhide="item.duration = (item.durationDays * 60 * 24 || 0) + (item.durationHours * 60 || 0) + (item.durationMinutes || 0); item.durationHours = math.floor((item.duration % 1440)/60); item.durationDays = math.floor((item.duration / 1440)); item.durationMinutes = math.floor((item.duration % 60))"
              e-required>
          {{ math.floor((item.duration % 1440)/60) }}
        </span>
                    </td>
                    <td style="width: 120px; border: 0; padding: 2px">
        <span>
          <b>Duration Minutes:</b>
        </span>
                    </td>
                    <td style="width: 60px; border: 0; padding: 2px">
        <span editable-number="item.durationMinutes" e-name="durationMinutes" e-form="rowform"
              onshow="showEditing($index); item.durationMinutes = math.floor((item.duration % 60))"
              onhide="hideEditing($index);" e-required>
          {{ math.floor((item.duration % 60)) }}
        </span>
                    </td>
                    <td style="width: 100px; border: 0; padding: 2px">
        <span>
          <b>Max Drift:</b>
        </span>
                    </td>
                    <td style="width: 60px; border: 0; padding: 2px">
        <span editable-text="item.maxDrift" e-name="maxDrift" e-form="rowform" e-required>
          {{ item.maxDrift || 'empty' }}
        </span>
                    </td>
                    <td style="width: 100px; border: 0; padding: 2px">
        <span>
          <b>Set Point:</b>
        </span>
                    </td>
                    <td style="width: 60px; border: 0; padding: 2px">
        <span editable-text="item.setPoint" e-name="setPoint" e-form="rowform" e-required>
          {{ item.setPoint || 'empty' }}
        </span>
                    </td>
                    <td style="border: 0; padding: 2px; text-align: right;">
                        <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
                              shown="inserted == item">
                            <button type="submit" ng-disabled="rowform.$waiting"
                                    class="btn btn-primary editable-table-button btn-xs">
                                Save
                            </button>
                            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                                    class="btn btn-default editable-table-button btn-xs">
                                Cancel
                            </button>
                        </form>
                        <div class="buttons" ng-show="!rowform.$visible">
                            <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">
                                Edit
                            </button>
                            <button class="btn btn-danger editable-table-button btn-xs" ng-click="removePhase($index)">
                                Delete
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </li>
    </ul>
</div>