<uib-accordion>
    <uib-accordion-group heading="Users" is-open="true" panel-class="panel-warning bootstrap-panel accordion-panel">
        <div include-with-scope="app/pages/admin/tables/users.html"></div>
    </uib-accordion-group>
    <uib-accordion-group heading="Sensors" panel-class="panel-warning bootstrap-panel accordion-panel">
        <div include-with-scope="app/pages/admin/tables/sensors.html"></div>
    </uib-accordion-group>
    <uib-accordion-group heading="Actuators" panel-class="panel-warning bootstrap-panel accordion-panel">
        <div include-with-scope="app/pages/admin/tables/actuators.html"></div>
    </uib-accordion-group>
    <uib-accordion-group heading="Schedules" panel-class="panel-warning bootstrap-panel accordion-panel">
        <div include-with-scope="app/pages/admin/tables/schedules.html"></div>
    </uib-accordion-group>
    <uib-accordion-group heading="Brews" is-open="false" panel-class="panel-warning bootstrap-panel accordion-panel">
        <div include-with-scope="app/pages/admin/tables/brews.html"></div>
    </uib-accordion-group>
    <uib-accordion-group heading="Coolers" is-open="false" panel-class="panel-warning bootstrap-panel accordion-panel">
        <div include-with-scope="app/pages/admin/tables/coolers.html"></div>
    </uib-accordion-group>
</uib-accordion>