<div class="actuator-switch-block" style="width: 0px;">
    <div class="switch-container {{switchColor}}">
        <switch switch-disabled="{{$root.verifyRoles(['admin'])}}" color="switchColor" controls="controls"></switch>
    </div>
    <label class="checkbox-inline custom-checkbox nowrap override-checkbox" ng-show="$root.verifyRoles(['admin'])">
        <input type="checkbox"
               ng-model="controls.override">
        <span>Override</span>

    </label>
</div>
