.temp-icon {
  padding-right: 15px;
  font-size: 30px;
  display: inline-block;
  vertical-align: top;
}

.temp-icon.cool {
  font-size: 50px;
}

.temp-icon.heat {
  padding-top: 10px;
  padding-bottom: 10px;
}

.temp-icon + span {
  margin-top: 8px;
  display: inline-block;
  font-size: 25px;
  position: absolute;
}

.temp-icon + span {
  margin-top: 18px;
}

.temp-container {
  width: 80%;
  margin: auto;
}

#chartdiv {
  width: 200px;
  height: 200px;
  font-size: 11px;
}