@media screen and (min-width: 1620px) {
  .row.shift-up {
    > div {
      margin-top: -573px;
    }
  }
}

@media screen and (max-width: 1620px) {
  .panel.feed-panel.large-panel {
    height: auto;
  }
}

.user-stats-panel {
  .panel-title {
    padding: 0 0 15px;
  }
}

.blurCalendar {
  height: 475px;
}

.feed-message-success {
  background-color: tint($success-bg, 70%);
  border-color: tint($success-bg, 70%);
}

.feed-message-warning {
  background-color: tint($warning-bg, 70%);
  border-color: tint($warning-bg, 70%);
}

.feed-message-danger {
  background-color: tint($danger-bg, 70%);
  border-color: tint($danger-bg, 70%);
}

.feed-message-primary {
  background-color: tint($primary-bg, 70%);
  border-color: tint($primary-bg, 70%);
}