<div class="temp-gauge-block">
    <div class="pie-chart">
        <div class="gauge-chart outer-chart" outer-color="{{ chart.outerColor }}"
             data-percent="{{ chart.tempPercent }}">
            <div class="gauge-chart inner-chart" inner-color="{{ chart.innerColor }}"
                 data-percent="{{ chart.setPercent }}">
                <span class="percent outer-percent"></span> / <span class="percent inner-percent"></span>
            </div>
        </div>
    </div>
    <!--<i class="chart-icon i-{{ ::chart.icon }}"></i>-->
</div>

