<div class="row">
    <div class="col-md-12">
        <div class="container">
            <div class="row">
                <div class="col-md-1">
                    <h4>Name:</h4>
                </div>
                <div class="col-md-2">
                    <a href="#" style="font-size: 16px;"
                       onaftersave="updateSchedule(scheduleData)"
                       editable-text="scheduleData.name"
                       ng-model="scheduleData.name"
                       blur="cancel">
                        {{ scheduleData.name || 'empty' }}
                    </a>
                </div>
                <div class="col-md-1 col-md-offset-7">
                    <button type="submit"
                            class="btn btn-danger"
                            class="pull-right"
                            autocomplete="off"
                            ng-click="removeScheduleData()">
                        Remove
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <h4>Type:</h4>
                </div>
                <div class="col-md-2">
                    <a href="#" style="font-size: 16px;"
                       onaftersave="updateSchedule(scheduleData)"
                       editable-select="scheduleData.type"
                       ng-model="scheduleData.type"
                       e-ng-options="type as type for type in scheduleTypes">
                        {{ scheduleData.type || 'empty' }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row'">
    <div class="col-md-12">
        <h4>Phases</h4>
        <phases ng-model="scheduleData.phases" update-phase="updateSchedule()"></phases>
    </div>
</div>