<div class="add-row-editable-table">
    <form class="row form-inline" ng-submit="addActuator()" name="actuatorForm" autocomplete="off" novalidate>
        <div class="form-group col-sm-2 col-xs-6"
             ng-class="{ 'has-error' : actuatorForm.name.$invalid }"
             autocomplete="off">
            <input type="text" name="name" class="form-control" id="name" placeholder="Name"
                   ng-model="actuatorFormData.name"
                   required autocomplete="off">
        </div>
        <div class="form-group col-sm-2 col-xs-6"
             ng-class="{ 'has-error' : actuatorForm.portNumber.$invalid }"
             autocomplete="off">
            <input type="text" class="form-control" name="portNumber" id="portNumber" placeholder="Port Number"
                   ng-model="actuatorFormData.portNumber" required autocomplete="off">
        </div>
        <div class="form-group col-sm-2 col-xs-6"
             ng-class="{ 'has-error' : actuatorForm.minActiveTime.$invalid }"
             autocomplete="off">
            <input type="text" class="form-control" name="minActiveTime" id="minActiveTime"
                   placeholder="Min Active Time" ng-model="actuatorFormData.minActiveTime" autocomplete="off" required>
        </div>
        <div class="form-group col-sm-2 col-xs-6"
             ng-class="{ 'has-error' : actuatorForm.type.$invalid }"
             autocomplete="off">
            <select class="form-control selectpicker" id="type" ng-model="actuatorFormData.type" name=type title="Type"
                    ng-options="type as type for type in actuatorTypes" options='actuatorTypes' autocomplete="off"
                    selectpicker required>
            </select>
        </div>
        <div class="form-group col-sm-2 col-xs-6"
             ng-class="{ 'has-error' : actuatorForm.role.$invalid }"
             autocomplete="off">
            <select class="form-control selectpicker" id="role" ng-model="actuatorFormData.role" name=role title="Role"
                    ng-options="role as role for role in actuatorRoles" options='actuatorRoles' autocomplete="off"
                    selectpicker required>
            </select>
        </div>
        <div class="row col-md-12 top-buffer">
            <button type="submit" class="btn btn-primary" ng-disabled="actuatorForm.$invalid" autocomplete="off">Add
                Actuator
            </button>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12 bootstrap-panel top-buffer">
            <button class="btn btn-info pull-right" ng-click="updateTables()" autocomplete="off">Refresh</button>
        </div>
    </div>
</div>
<table class="table table-bordered table-hover table-condensed">
    <tr>
        <td></td>
        <td>Name</td>
        <td>Override</td>
        <td>State</td>
        <td>Port Number</td>
        <td>Min Active Time (s)</td>
        <td>Type</td>
        <td>Role</td>
        <td>Actions</td>
    </tr>
    <tr ng-repeat="actuator in actuators" class="editable-row">
        <td>
            {{$index}}
        </td>
        <td>
        <span editable-text="actuator.name" e-name="name" e-form="actuatorRowform" e-required>
          {{ actuator.name || 'empty' }}
        </span>
        </td>
        <td class="select-td">
        <span editable-checkbox="actuator.override" e-name="override" e-form="actuatorRowform" e-required>
          {{ actuator.override ? 'ON' : 'OFF' }}
        </span>
        </td>
        <td class="select-td">
        <span editable-checkbox="actuator.state" e-name="state" e-form="actuatorRowform" e-required>
          {{ actuator.state ? 'ON' : 'OFF' }}
        </span>
        </td>
        <td class="select-td">
        <span editable-text="actuator.portNumber" e-name="portNumber" e-form="actuatorRowform" e-required>
        {{ actuator.portNumber || 'empty' }}
        </span>
        </td>
        <td class="select-td">
        <span editable-text="actuator.minActiveTime" e-name="minActiveTime" e-form="actuatorRowform" e-required>
        {{ actuator.minActiveTime || 'empty' }}
        </span>
        </td>
        <td class="select-td">
            <span editable-select="actuator.type" e-name="type" e-form="actuatorRowform" e-required
                  e-ng-options="type as type for type in actuatorTypes">
                {{ actuator.type || 'empty' }}
            </span>

        </td>
        <td class="select-td">
            <span editable-select="actuator.role" e-name="role" e-form="actuatorRowform" e-required
                  e-ng-options="role as role for role in actuatorRoles">
                {{ actuator.role || 'empty' }}
            </span>
        </td>
        <td>
            <form editable-form name="actuatorRowform" ng-show="actuatorRowform.$visible"
                  class="form-buttons form-inline"
                  shown="inserted == actuator">
                <button type="submit" ng-disabled="actuatorRowform.$waiting"
                        ng-click="updateActuator(actuatorRowform.$data, actuator)"
                        class="btn btn-primary editable-table-button btn-xs">
                    Save
                </button>
                <button type="button" ng-disabled="actuatorRowform.$waiting" ng-click="actuatorRowform.$cancel()"
                        class="btn btn-default editable-table-button btn-xs">
                    Cancel
                </button>
            </form>
            <div class="buttons" ng-show="!actuatorRowform.$visible">
                <button class="btn btn-primary editable-table-button btn-xs" ng-click="actuatorRowform.$show()">Edit
                </button>
                <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeActuator(actuator)">Delete
                </button>
            </div>
        </td>
    </tr>
</table>
