<form class="form-inline" ng-submit="addBrew()" name="brewForm" autocomplete="off" novalidate>
    <div class="form-group col-sm-2 col-xs-6"
         ng-class="{ 'has-error' : brewForm.brewName.$invalid }"
         autocomplete="off">
        <input type="text" name="brewName" id=brewName class="form-control" placeholder="Name"
               ng-model="brewFormData.name"
               autocomplete="off" required>
    </div>
    <div class="form-group col-sm-2 col-xs-6"
         ng-class="{ 'has-error' : brewForm.recipe.$invalid }"
         autocomplete="off">
        <input type="text" name="recipe" id=recipe class="form-control" placeholder="Recipe"
               ng-model="brewFormData.recipe"
               autocomplete="off" required>
    </div>
    <div class="form-group col-sm-2 col-xs-6"
         ng-class="{ 'has-error' : brewForm.style.$invalid }"
         autocomplete="off">
        <input type="text" name="style" id=style class="form-control" placeholder="Style"
               ng-model="brewFormData.style"
               autocomplete="off" required>
    </div>
    <div class="form-group col-sm-2 col-xs-6"
         ng-class="{ 'has-error' : brewForm.yeast.$invalid }"
         autocomplete="off">
        <input type="text" name="yeast" id=yeast class="form-control" placeholder="Yeast"
               ng-model="brewFormData.yeast"
               autocomplete="off" required>
    </div>
    <div class="form-group col-sm-2 col-xs-6" autocomplete="off"
         ng-class="{ 'has-error' : brewForm.carbonationMethod.$invalid }">
        <select class="form-control" ng-model="brewFormData.carbonationMethod" name=carbonationMethod
                id="carbonationMethod"
                title="Carbonation"
                selectpicker ng-options="method as method for method in carbonationMethods" options='carbonationMethods'
                autocomplete="off" required>
        </select>
    </div>
    <div class="form-group col-sm-2 col-xs-6" autocomplete="off" ng-class="{ 'has-error' : brewForm.cooler.$invalid }">
        <select class="form-control" ng-model="brewFormData.cooler" name=cooler id="cooler"
                title="Cooler"
                selectpicker ng-options="cooler.id as cooler.name for cooler in coolers" options='coolers'
                autocomplete="off" required>
        </select>
    </div>
    <div class="col-md-12 col-sm-12">
        <button type="submit" class="btn btn-primary pull-right top-buffer" ng-disabled="brewForm.$invalid"
                autocomplete="off">
            Add Brew
        </button>
    </div>
</form>
<div class="col-md-12 top-buffer">
    <button class="btn btn-info pull-right" ng-click="updateTables()" autocomplete="off">Refresh</button>
</div>
<uib-accordion class="col-md-12 top-buffer">
    <uib-accordion-group panel-class="bootstrap-panel accordion-panel panel-primary"
                         class="row"
                         heading="{{ brew.name }}"
                         ng-repeat="brew in brews">
        <brew-config brew-data="brew"
                     update-brew-data="updateBrew(brew)"
                     remove-brew-data="removeBrew(brew)"
                     update-controller-data="updateController(brew, controller)"
                     add-controller-data="addController(brew, controller)"
                     remove-controller-data="removeController(brew, controller)"
                     carbonation-methods="carbonationMethods"
                     controller-types="controllerTypes"
                     schedules="schedules"
                     sensors="sensors"
                     actuators="actuators"
        ></brew-config>
    </uib-accordion-group>
</uib-accordion>