<div class="add-row-editable-table">
    <form class="row form-inline" ng-submit="addCooler()" name="coolerForm" autocomplete="off" novalidate>
        <div class="form-group col-sm-2 col-xs-6"
             ng-class="{ 'has-error' : coolerForm.name.$invalid }"
             autocomplete="off">
            <input type="text" name="name" class="form-control" id="name" placeholder="Name"
                   ng-model="coolerFormData.name"
                   required autocomplete="off">
        </div>
        <div class="form-group"
             ng-class="{ 'has-error' : coolerForm.actuator.$invalid }"
             autocomplete="off">
            <select class="form-control selectpicker" id="actuator" ng-model="coolerFormData.actuatorId" name=actuator
                    title="Actuator"
                    ng-options="cooler.id as cooler.name for cooler in coolerActuators" options='coolerActuators'
                    autocomplete="off" selectpicker required>
            </select>
        </div>
        <div class="form-group"
             ng-class="{ 'has-error' : coolerForm.sensor.$invalid }"
             autocomplete="off">
            <select class="form-control selectpicker" id="sensor" ng-model="coolerFormData.sensorId" name=sensor
                    title="Sensor"
                    ng-options="sensor.id as sensor.name for sensor in sensors" options='sensors' autocomplete="off"
                    selectpicker required>
            </select>
        </div>
        <div class="form-group col-sm-2 col-xs-6"
             ng-class="{ 'has-error' : coolerForm.absoluteMax.$invalid }"
             autocomplete="off">
            <input type="text" class="form-control" name="absoluteMax" id="absoluteMax"
                   placeholder="Absolute Max Temp" ng-model="coolerFormData.absoluteMax" autocomplete="off" required>
        </div>
        <div class="form-group col-sm-2 col-xs-6"
             ng-class="{ 'has-error' : coolerForm.absoluteMin.$invalid }"
             autocomplete="off">
            <input type="text" class="form-control" name="absoluteMin" id="absoluteMin"
                   placeholder="Absolute Min Temp" ng-model="coolerFormData.absoluteMin" autocomplete="off" required>
        </div>
        <div class="form-group col-sm-2 col-xs-6"
             ng-class="{ 'has-error' : coolerForm.maxDrift.$invalid }"
             autocomplete="off">
            <input type="text" class="form-control" name="maxDrift" id="maxDrift"
                   placeholder="Max Drift" ng-model="coolerFormData.maxDrift" autocomplete="off" required>
        </div>
        <div class="row col-md-12 top-buffer">
            <button type="submit" class="btn btn-primary" ng-disabled="coolerForm.$invalid" autocomplete="off">Add
                Cooler
            </button>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12 bootstrap-panel top-buffer">
            <button class="btn btn-info pull-right" ng-click="updateTables()" autocomplete="off">Refresh</button>
        </div>
    </div>
</div>
<table class="table table-bordered table-hover table-condensed">
    <tr>
        <td></td>
        <td>Name</td>
        <td>Actuator</td>
        <td>Sensor</td>
        <td>Absolute Max Temp</td>
        <td>Absolute Min Temp</td>
        <td>Max Drift</td>
        <td>Actions</td>
    </tr>
    <tr ng-repeat="cooler in coolers" class="editable-row">
        <td>
            {{$index}}
        </td>
        <td>
        <span editable-text="cooler.name" e-name="name" e-form="coolerRowform" e-required>
          {{ cooler.name || 'empty' }}
        </span>
        </td>
        <td class="select-td">
        <span editable-select="cooler.actuator.id" e-name="actuatorId" e-form="coolerRowform" e-title="Actuator"
              e-ng-options="actuator.id as actuator.name for actuator in coolerActuators" e-required>
          {{ showItem(cooler.actuator, coolerActuators) }}
        </span>
        </td>
        <td class="select-td">
        <span editable-select="cooler.sensor.id" e-name="sensorId" e-form="coolerRowform" e-title="Sensor"
              e-ng-options="sensor.id as sensor.name for sensor in sensors" e-required>
          {{ showItem(cooler.sensor, sensors) }}
        </span>
        </td>
        <td>
        <span editable-text="cooler.absoluteMax" e-name="absoluteMax" e-form="coolerRowform" e-required>
        {{ cooler.absoluteMax || 'empty' }}
        </span>
        </td>
        <td>
        <span editable-text="cooler.absoluteMin" e-name="absoluteMin" e-form="coolerRowform" e-required>
        {{ cooler.absoluteMin || 'empty' }}
        </span>
        </td>
        <td>
        <span editable-text="cooler.maxDrift" e-name="maxDrift" e-form="coolerRowform" e-required>
        {{ cooler.maxDrift || 'empty' }}
        </span>
        </td>
        <td>
            <form editable-form name="coolerRowform" ng-show="coolerRowform.$visible" class="form-buttons form-inline"
                  shown="inserted == cooler">
                <button type="submit" ng-disabled="coolerRowform.$waiting"
                        ng-click="updateCooler(coolerRowform.$data, cooler)"
                        class="btn btn-primary editable-table-button btn-xs">
                    Save
                </button>
                <button type="button" ng-disabled="coolerRowform.$waiting" ng-click="coolerRowform.$cancel()"
                        class="btn btn-default editable-table-button btn-xs">
                    Cancel
                </button>
            </form>
            <div class="buttons" ng-show="!coolerRowform.$visible">
                <button class="btn btn-primary editable-table-button btn-xs" ng-click="coolerRowform.$show()">Edit
                </button>
                <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeCooler(cooler)">Delete
                </button>
            </div>
        </td>
    </tr>
</table>
