<form class="form-inline" ng-submit="addSchedule()" name="scheduleForm" autocomplete="off" novalidate>
    <div class="form-group"
         ng-class="{ 'has-error' : scheduleForm.scheduleName.$invalid }"
         autocomplete="off">
        <input type="text" name="scheduleName" class="form-control" id="scheduleName" placeholder="Name"
               ng-model="scheduleFormData.name"
               autocomplete="off" required>
    </div>
    <div class="form-group" autocomplete="off" ng-class="{ 'has-error' : scheduleForm.type.$invalid }">
        <select class="form-control" id="type" ng-model="scheduleFormData.type" name=type
                title="Schedule Type"
                selectpicker ng-options="type as type for type in scheduleTypes" options='scheduleTypes'
                autocomplete="off" required>
        </select>
    </div>
    <div class="row col-md-12 top-buffer">
        <button type="submit" class="btn btn-primary" ng-disabled="scheduleForm.$invalid" autocomplete="off">
            Add Schedule
        </button>
    </div>
</form>
<div class="col-md-12 top-buffer">
    <button class="btn btn-info pull-right" ng-click="updateTables()" autocomplete="off">Refresh</button>
</div>
<uib-accordion class="col-md-12 top-buffer">
    <uib-accordion-group panel-class="bootstrap-panel accordion-panel panel-primary"
                         class="row"
                         heading="{{ schedule.name }}"
                         ng-repeat="schedule in schedules">
        <schedule schedule-data="schedule"
                  schedule-types="scheduleTypes"
                  update-schedule-data="updateSchedule(schedule)"
                  remove-schedule-data="removeSchedule(schedule)"></schedule>
    </uib-accordion-group>
</uib-accordion>