<div class="add-row-editable-table">
    <div class="row top-buffer">
        <div class="col-md-12 bootstrap-panel">
            <button class="btn btn-info pull-right" ng-click="updateTables()" autocomplete="off">Refresh</button>
        </div>
    </div>
</div>
<table class="table table-bordered table-hover table-condensed">
    <tr>
        <td></td>
        <td>Name</td>
        <td>Units</td>
        <td>Min Value</td>
        <td>Max Value</td>
        <td>Value</td>
        <td>Actions</td>
    </tr>
    <tr ng-repeat="sensor in sensors" class="editable-row">
        <td>
            {{$index}}
        </td>
        <td>
        <span editable-text="sensor.name" e-name="name" e-form="sensorRowform" e-required>
          {{ sensor.name || 'empty' }}
        </span>
        </td>
        <td class="select-td">
        <span editable-text="sensor.units" e-name="units" e-form="sensorRowform" e-required>
          {{ sensor.units || 'empty' }}
        </span>
        </td>
        <td class="select-td">
        <span editable-text="sensor.minValue" e-name="minValue" e-form="sensorRowform" e-required>
          {{ sensor.minValue || 'empty' }}
        </span>
        </td>
        <td class="select-td">
        <span editable-text="sensor.maxValue" e-name="maxValue" e-form="sensorRowform" e-required>
          {{ sensor.maxValue || 'empty' }}
        </span>
        </td>
        <td class="select-td">
        <span editable-text="sensor.value" e-name="value" e-form="sensorRowform" e-required>
        {{ sensor.value || 'empty' }}
        </span>
        </td>
        <td>
            <form editable-form name="sensorRowform" ng-show="sensorRowform.$visible" class="form-buttons form-inline"
                  shown="inserted == sensor">
                <button type="submit" ng-disabled="sensorRowform.$waiting"
                        ng-click="updateSensor(sensorRowform.$data, sensor)"
                        class="btn btn-primary editable-table-button btn-xs">
                    Save
                </button>
                <button type="button" ng-disabled="sensorRowform.$waiting" ng-click="sensorRowform.$cancel()"
                        class="btn btn-default editable-table-button btn-xs">
                    Cancel
                </button>
            </form>
            <div class="buttons" ng-show="!sensorRowform.$visible">
                <button class="btn btn-primary editable-table-button btn-xs" ng-click="sensorRowform.$show()">Edit
                </button>
                <!--<button class="btn btn-danger editable-table-button btn-xs" ng-click="removeSensor(sensor)">Delete</button>-->
            </div>
        </td>
    </tr>
</table>
