<div class="add-row-editable-table">
    <form class="row form-inline" ng-submit="addUser()" name="userForm" autocomplete="off" novalidate>
        <div class="form-group col-sm-2 col-xs-6"
             ng-class="{ 'has-error' : userForm.firstName.$invalid && !userForm.firstName.$pristine }">
            <input type="text"
                   name="firstName"
                   class="form-control"
                   id="firstName"
                   placeholder="First Name"
                   ng-model="userFormData.firstName"
                   required
                   autocomplete="off">
            <p ng-show="userForm.firstName.$invalid && !userForm.firstName.$pristine" class="help-block">Your first name
                is required.</p>
        </div>
        <div class="form-group col-sm-2 col-xs-6"
             ng-class="{ 'has-error' : userForm.lastName.$invalid && !userForm.lastName.$pristine }" autocomplete="off">
            <input type="text"
                   class="form-control"
                   name="lastName"
                   id="lastName"
                   placeholder="Last Name"
                   ng-model="userFormData.lastName"
                   required
                   autocomplete="off">
            <p ng-show="userForm.lastName.$invalid && !userForm.lastName.$pristine" class="help-block">Your last name is
                required.</p>
        </div>
        <div class="form-group col-sm-2 col-xs-6"
             ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }" autocomplete="off">
            <input type="email"
                   class="form-control"
                   name="email"
                   id="email"
                   placeholder="Email"
                   ng-model="userFormData.email"
                   autocomplete="off"
                   required>
            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Your email is
                required.</p>
        </div>
        <div class="form-group col-sm-2 col-xs-6"
             ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }" autocomplete="off">
            <input type="password" class="form-control" id="password" name="password"
                   placeholder="Password" ng-model="userFormData.password" ng-minlength="8"
                   ng-maxlength="24" autocomplete="off" required>
            <p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="help-block">Password is
                required.</p>
            <p ng-show="userForm.password.$error.minlength" class="help-block">Password is too short.</p>
            <p ng-show="userForm.password.$error.maxlength" class="help-block">Password is too long.</p>
        </div>
        <div class="form-group" autocomplete="off">
            <select class="form-control" id="roles" ng-model="userFormData.roles" name=roles title="Roles"
                    multiple selectpicker ng-options="role.name as role.name for role in roles" options='roles'
                    autocomplete="off">
            </select>
        </div>
        <div class="row col-md-12 top-buffer">
            <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid" autocomplete="off">Add User
            </button>
        </div>
    </form>
    <div class="row top-buffer">
        <div class="col-md-12 bootstrap-panel">
            <button class="btn btn-info pull-right" ng-click="updateTables()" autocomplete="off">Refresh</button>
        </div>
    </div>
</div>

<table class="table table-bordered table-hover table-condensed">
    <tr>
        <td></td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Email</td>
        <td>Roles</td>
        <td>Password</td>
        <td>Actions</td>
    </tr>
    <tr ng-repeat="user in users" class="editable-row">
        <td>
            {{$index}}
        </td>
        <td>
        <span editable-text="user.profile.firstName" e-name="firstName" e-form="userRowform" e-required>
          {{ user.profile.firstName || 'empty' }}
        </span>
        </td>
        <td>
        <span editable-text="user.profile.lastName" e-name="lastName" e-form="userRowform" e-required>
          {{ user.profile.lastName || 'empty' }}
        </span>
        </td>
        <td>
        <span editable-email="user.email" e-name="email" e-form="userRowform" e-required>
          {{ user.email || 'empty' }}
        </span>
        </td>
        <td>
        <span editable-checklist="user.roles" e-name="roles" e-form="userRowform"
              e-ng-options="r as r.name for r in roles">
          {{ showRoles(user) }}
        </span>
        </td>
        <td>
            <span editable-text="user.password" e-name="password" e-form="userRowform" e-type="password"></span>
        </td>
        <td>
            <form editable-form name="userRowform" ng-show="userRowform.$visible" class="form-buttons form-inline"
                  shown="inserted == user">
                <button type="submit" ng-disabled="userRowform.$waiting"
                        ng-click="updateUser(userRowform.$data, user)"
                        class="btn btn-primary editable-table-button btn-xs">
                    Save
                </button>
                <button type="button" ng-disabled="userRowform.$waiting" ng-click="userRowform.$cancel()"
                        class="btn btn-default editable-table-button btn-xs">
                    Cancel
                </button>
            </form>
            <div class="buttons" ng-show="!userRowform.$visible">
                <button class="btn btn-primary editable-table-button btn-xs" ng-click="userRowform.$show()">Edit
                </button>
                <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeUser(user)">Delete</button>
            </div>
        </td>
    </tr>
</table>
