<div class="feed-messages-container" track-width="smallContainerWidth" min-width="360">
    <div class="feed-message feed-message-{{ ::brew.statusColor }}" ng-hide="feed.length">
        <div class="text-block text-message">
            <div class="message-content line-clamp" style="text-align: center;">
                <h2>OH NO!<br>Could not find any brews... :(</h2>
            </div>
        </div>
    </div>
    <div class="feed-message feed-message-{{ ::brew.statusColor }}" ng-repeat="brew in feed" ng-show="feed.length"
         ng-click="goToBrew(brew)">
        <div class="text-block text-message">
            <div class="message-header">
                <span class="author">{{ brew.name }}</span>
            </div>
            <div class="message-content line-clamp">
                <span ng-if="message.preview"></span>Current Temp: {{ brew.currentTemp }} / Set Temp: {{ brew.setTemp }}
            </div>
        </div>
    </div>
</div>
