<div class="feed-messages-container" track-width="smallContainerWidth" min-width="360" ng-style="{height: hgt + px}">
    <div class="feed-message feed-message-{{ notification.alertState=='RESOLVED' ? 'success' : notification.alertState=='ACKNOWLEDGED' ? 'warning' : 'danger' }}"
         ng-repeat="notification in notifications" ng-click="expandNotification(notification)"
         ng-if="notification.shown" id="notification.id">
        <div class="anchor" id="anchor{{notification.id}}"></div>
        <div class="text-block text-message">
            <div class="top-buffer">
                <button ng-click="readAlert(notification)" type="button"
                        class="btn pull-right" ng-hide="notification.alertState == 'NEW'">{{notification.read ? 'UNREAD'
                    : 'READ'}}
                </button>
            </div>
            <div class="message-header">
                <span class="author">{{ notification.name }}</span>
            </div>
            <div class="message-content line-clamp" ng-class="{'line-clamp-2' : !notification.expanded}">
                <span ng-if="notification.alertState">{{notification.testStatus}} </span>{{notification.alertState}}
            </div>
            <div ng-show="notification.expanded" class="message-time">

            </div>
            <div class="preview" ng-show="notification.expanded">
                <div class="post-time">
                    {{notification.timestamp}}
                </div>
                <div class="ago-time">
                    {{getRelativeTime(notification)}}
                </div>
            </div>
        </div>
    </div>
</div>
