<section ng-controller="chartistCtrl" class="chartist">
    <div class="row">
        <div class="col-md-6 ">
            <div ba-panel ba-panel-title="Lines" ba-panel-class="with-scroll ">
                <h5>Simple line chart</h5>
                <div id="line-chart" class="ct-chart"></div>
                <h5>Line chart with area</h5>
                <div id="area-chart" class="ct-chart"></div>
                <h5>Bi-polar line chart with area only</h5>
                <div id="bi-chart" class="ct-chart"></div>
            </div>
        </div>

        <div class="col-md-6 ">
            <div ba-panel ba-panel-title="Bars" ba-panel-class="with-scroll ">
                <h5>Simple bar chart</h5>
                <div id="simple-bar" class="ct-chart"></div>
                <h5>Multi-line labels bar chart</h5>
                <div id="multi-bar" class="ct-chart"></div>
                <h5>Stacked bar chart</h5>
                <div id="stacked-bar" class="ct-chart stacked-bar"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Pies & Donuts" ba-panel-class="with-scroll ">
                <div class="row">
                    <div class="col-md-12 col-lg-4"><h5>Simple Pie</h5>
                        <div id="simple-pie" class="ct-chart"></div>
                    </div>
                    <div class="col-md-12 col-lg-4"><h5>Pie with labels</h5>
                        <div id="label-pie" class="ct-chart"></div>
                    </div>
                    <div class="col-md-12 col-lg-4"><h5>Donut</h5>
                        <div id="donut" class="ct-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>