<div class="task-todo-container" ng-class="{'transparent': transparent}">
    <div class="add-row-editable-table">
        <form class="row form-inline" ng-submit="addItemToList()" name="itemForm" autocomplete="off" novalidate>
            <div class="form-group col-sm-2 col-xs-6"
                 ng-class="{ 'has-error' : itemForm.actuator.$invalid }"
                 autocomplete="off">
                <select class="form-control selectpicker" id="actuator" ng-model="formData.actuator" name=actuator
                        title="Actuator"
                        ng-options="actuator as actuator.name for actuator in heaterActuators" options='actuators'
                        autocomplete="off" selectpicker required>
                </select>
            </div>
            <div class="form-group col-sm-2 col-xs-6"
                 ng-class="{ 'has-error' : itemForm.sensor.$invalid }"
                 autocomplete="off">
                <select class="form-control selectpicker" id="sensor" ng-model="formData.sensor" name=sensor
                        title="Sensor"
                        ng-options="sensor as sensor.name for sensor in sensors" options='sensors' autocomplete="off"
                        selectpicker required>
                </select>
            </div>
            <div class="form-group col-sm-2 col-xs-6"
                 ng-class="{ 'has-error' : itemForm.schedule.$invalid }"
                 autocomplete="off">
                <select class="form-control selectpicker" id="schedule" ng-model="formData.schedule" name=schedule
                        title="Schedule"
                        ng-options="schedule as schedule.name for schedule in schedules" options='schedules'
                        autocomplete="off" selectpicker required>
                </select>
            </div>
            <div class="form-group col-sm-2 col-xs-6"
                 ng-class="{ 'has-error' : itemForm.type.$invalid }"
                 autocomplete="off">
                <select class="form-control selectpicker" id="type" ng-model="formData.type" name=type title="Ctrl Type"
                        ng-options="type as type for type in controllerTypes" options='controllerTypes'
                        autocomplete="off" selectpicker required>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled="itemForm.$invalid" autocomplete="off">
                Add Controller
            </button>

            <button class="btn btn-warning pull-right"
                    type="button"
                    style="margin-right: 20px;"
                    autocomplete="off"
                    ng-show="itemsBackup"
                    ng-click="saveItems()"
                    ng-disabled="isEditing()">
                Save
            </button>
            <button class="btn btn-warning pull-right"
                    type="button"
                    style="margin-right: 20px;"
                    ng-show="itemsBackup"
                    ng-click="resetItems()"
                    ng-disabled="isEditing()">
                Reset
            </button>
        </form>
    </div>
    <div class="box-shadow-border"></div>
    <ul class="todo-list" ui-sortable ng-model="ngModel">
        <li ng-repeat="item in ngModel" ng-if="!item.deleted" ng-init="activeItem=false"
            ng-class="{checked: isChecked, active: activeItem}" style="padding: 0;">
            <div class="blur-container">
                <div class="blur-box"></div>
            </div>
            <i class="mark" style="background-color: {{item.color}}"></i>

            <table style="border-collapse:collapse; table-layout: fixed; height: 100%" border="0" class="table">
                <tr class="editable-row" style="height: 100%">
                    <td style="width: 70px; border: 0; padding: 2px">
        <span>
          <b>Actuator:</b>
        </span>
                    </td>
                    <td style="width: 11%; border: 0; padding: 2px">
        <span editable-select="item.actuator.id" e-name="actuator" e-form="rowform" e-title="Actuator"
              onshow="showEditing($index)" onhide="hideEditing($index)"
              e-ng-options="actuator.id as actuator.name for actuator in heaterActuators">
          {{ showItem(item.actuator, heaterActuators) }}
        </span>
                    </td>
                    <td style="width: 60px; border: 0; padding: 2px">
        <span>
          <b>Sensor:</b>
        </span>
                    </td>
                    <td style="width: 11%; border: 0; padding: 2px">
        <span editable-select="item.sensor.id" e-name="sensor" e-form="rowform" e-title="Sensor"
              e-ng-options="sensor.id as sensor.name for sensor in sensors" e-required>
          {{ showItem(item.sensor, sensors) }}
        </span>
                    </td>
                    <td style="width: 65px; border: 0; padding: 2px">
        <span>
          <b>Schedule:</b>
        </span>
                    </td>
                    <td style="width: 11%; border: 0; padding: 2px">
        <span editable-select="item.schedule.id" e-name="schedule" e-form="rowform" e-title="Schedule"
              e-ng-options="schedule.id as schedule.name for schedule in schedules" e-required>
          {{ showItem(item.schedule, schedules) }}
        </span>
                    </td>
                    <td style="width: 65px; border: 0; padding: 2px">
        <span>
          <b>Ctrl Type:</b>
        </span>
                    </td>
                    <td style="width: 11%; border: 0; padding: 2px">
        <span editable-select="item.type" e-name="type" e-form="rowform" e-title="Ctrl Type"
              e-ng-options="type as type for type in controllerTypes" e-required>
          {{ item.type || 'empty' }}
        </span>
                    </td>
                    <td style="width: 65px; border: 0; padding: 2px">
        <span>
          <b>Active:</b>
        </span>
                    </td>
                    <td style="width: 25px; border: 0; padding: 2px">
        <span editable-checkbox="item.active" e-name="active" e-form="rowform" e-title="Active" e-required>
          {{ item.active || false }}
        </span>
                    </td>
                    <td style="border: 0; padding: 2px; text-align: right;">
                        <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
                              shown="inserted == item">
                            <button type="submit" ng-disabled="rowform.$waiting"
                                    class="btn btn-primary editable-table-button btn-xs">
                                Save
                            </button>
                            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                                    class="btn btn-default editable-table-button btn-xs">
                                Cancel
                            </button>
                        </form>
                        <div class="buttons" ng-show="!rowform.$visible">
                            <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">
                                Edit
                            </button>
                            <button class="btn btn-danger editable-table-button btn-xs"
                                    ng-click="removeItemFromList($index)">Delete
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </li>
    </ul>
</div>