<!DOCTYPE html>
<html lang="en" ng-app="BlurAdmin">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RDWHAHB!</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900&subset=latin,greek,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic'
          rel='stylesheet' type='text/css'>

    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/beer-stein-16-202218.png">
    <link rel="icon" type="image/png" sizes="24x24" href="assets/img/beer-stein-24-202218.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/beer-stein-32-202218.png">
    <link rel="icon" type="image/png" sizes="48x48" href="assets/img/beer-stein-48-202218.png">
    <link rel="icon" type="image/png" sizes="57x57" href="assets/img/beer-stein-57-202218.png">
    <link rel="icon" type="image/png" sizes="64x64" href="assets/img/beer-stein-64-202218.png">
    <link rel="icon" type="image/png" sizes="72x72" href="assets/img/beer-stein-72-202218.png">
    <link rel="icon" type="image/png" sizes="114x114" href="assets/img/beer-stein-114-202218.png">
    <link rel="icon" type="image/png" sizes="120x120" href="assets/img/beer-stein-120-202218.png">
    <link rel="icon" type="image/png" sizes="144x144" href="assets/img/beer-stein-144-202218.png">
    <link rel="icon" type="image/png" sizes="152x152" href="assets/img/beer-stein-152-202218.png">

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
</head>
<body>
<div class="body-bg"></div>
<main ng-if="$pageFinishedLoading" ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }">

    <ba-sidebar></ba-sidebar>
    <page-top></page-top>

    <div class="al-main">
        <div class="al-content">
            <content-top></content-top>
            <div ui-view></div>
        </div>
    </div>
    <back-top></back-top>
</main>

<div id="preloader" ng-show="!$pageFinishedLoading">
    <div></div>
</div>

<!-- build:js(src) scripts/vendor.js -->
<!-- bower:js -->
<!-- run `gulp inject` to automatically populate bower script dependencies -->
<!-- endbower -->
<!-- endbuild -->
<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.10/d3.min.js"></script>

<!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
<!-- inject:js -->
<!-- js files will be automatically insert here -->
<!-- endinject -->

<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->

</body>
</html>