<div class="row">
    <div class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"
         ba-panel
         ba-panel-title="Brews"
         ba-panel-class="large-panel with-scroll feed-panel">
        <blur-feed></blur-feed>
    </div>
</div>
